## 序列通用操作

序列类型有许多通用的操作，在各个知识点都有详细的介绍，下面将他们综合起来比较。

序列类型都可以使用操作符 `+` 进行拼接，使用 `+=` 拼接并赋值（range 除外），但对于可变序列类型，使用 `+=` 是原地修改：

In [2]:
a = [1,2]
print(id(a))
a += [3,4]
id(a), a

2612604344328

(2612604344328, [1, 2, 3, 4])

In [1]:
'12'+'34', [1,2]+[3,4], (1,2)+(3,4)

('1234', [1, 2, 3, 4], (1, 2, 3, 4))

序列类型都可以使用操作符 `*` 进行重复并拼接，使用 `*=` 拼接并赋值（range 除外），但对于可变序列类型，使用 `*=` 是原地修改：

In [3]:
'1'*2, 2*[1], (1,)*2

('11', [1, 1], (1, 1))

In [4]:
a = [1]
print(id(a))
a *= 2
id(a), a

2612603190024

(2612603190024, [1, 1])

序列类型都可以使用 `*` 进行拆包，拆包之后需要包含在列表，元组，集合中，或用于函数传参：

In [5]:
[*(1,2)], (*[1,2],), {*range(1,3)}

([1, 2], (1, 2), {1, 2})

In [6]:
print(*'123')

1 2 3

序列类型都可以使用索引或切片操作取值，但对于可变序列类型，还可以使用索引或切片操作进行内容的增、删、改：

In [7]:
a = '1234'
b = [1,2,3,4]
c = (1,2,3,4)
d = range(1,5)
a[0], b[0], c[0], d[0]

('1', 1, 1, 1)

In [8]:
a[1:3], b[1:3], c[1:3], d[1:3]

('23', [2, 3], (2, 3), range(2, 4))

In [9]:
b[1:3] = 'abc'
b

[1, 'a', 'b', 'c', 4]

序列类型都有方法 index 和 count，但字符串和字节串的 count 方法可以指定范围（具体详见各知识点的方法）：

In [10]:
'1234'.index('23'),\
[1,2,3,4].index(2),\
range(1,4).index(2)

(1, 1, 1)

In [11]:
'1231'.count('1',1,3),\
(1,2,3,1).count(1)

(0, 2)